<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 offset-md-1">
      <h2 class="text-dark p-4 mb-0">投稿編集</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="ccol-md-12 offset-md-1">
      <%= render 'layouts/errors', obj: @post %>
      <%= form_with model: @post, url: post_path(@post) do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :image, '画像', class: "col-form-label" %></td>
            <td><%= f.file_field :image, accept: 'image/*', class: "form-control-file" %></td>
          </tr>
          <tr>
            <td><%= f.label :title,'タイトル', class: "col-form-label" %></td>
            <td><%= f.text_field :title, placeholder: 'ここタイトルを記述します', class: "form-control post_title" %></td>
          </tr>
          <tr>
            <td><%= f.label :title,'地方', class: "col-form-label" %></td>
            <td>
              <%= f.collection_select(:region_id, *[Region.all], :id, :name, {include_blank:"-- 選択してください --"}, {class:"custom-select"}) %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :prefecture,'県', class: "col-form-label" %></td>
            <td><%= f.text_field :prefecture,placeholder: '○○県', class: "form-control post_prefecture" %></td>
          </tr>
          <tr>
            <td><%= f.label :body, '本文', class: "col-form-label" %></td>
            <td><%= f.text_area :body,  class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label"タグ (,で区切ると複数タグ登録できます)" %></td>
            <td><%= f.text_field :name,value: @tag_list,class:"form-control"%></td>
          </tr>
          <tr>
            <td><%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-70"} %></td>
            <td><%= f.submit '更新する', class: "btn btn-success btn-lg" %></td>
          </tr>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>