<div class="container">
  <div class="row">
      <h2 class="col-md-12 offset-md-1">投稿詳細</h2>
  </div>
  <div class="row">
    <div class="ml-5 col-4">
      <%= image_tag @post.get_image(300,200), style: "background-cover; background-position: center;" %>
    </div>
    <div class="col-4">
      <h3 class="mb-3"><%= @post.title %></h3>
      <div class="mb-3"><%= @post.region.name %>地方　<%= @post.prefecture %>県</div>
      <div class="mb-5"><%= @post.body %></div>
      <div class="mb-3">
        <%= link_to user_path(@post.user.id) do%>
          <%= @post.user.name %>
        <% end %>
      </div>
      <div id=<%="favorite-box"+ @post.id.to_s %>>
        <%= render 'public/favorites/favorite', post: @post %>
      </div>
      <p id="comments-counter">
            <%= render "public/comments/counter", post: @post %>
      </p>
      <p class="post_tags">
        <% @post_tags.each do |tag| %>
          <i class="fas fa-regular fa-hashtag"></i><%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
        <% end %>
      </p>
      
       <div>
      <% if @post.user == current_user %>
        <%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success" %>
        <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-4 d-block">
    <div class="w-75 mb-3 ml-5">
      <div id="comments-index">
       <%= render "public/comments/index", post: @post %>
      </div>
    </div>
    <div class="cw-75 mb-3 ml-5">
      <div class="comments-form">
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>