<div class='message'>
    <% messages.each do |message| %>
     <% if message.user_id == current_user.id %>
      <p style="text-align: right;"><%= message.message %></p>
     <% else %>
      <p style="text-align: left;"><%= message.user.name %>:<%= message.message %></p>
     <% end %>
    <% end %>
</div>
 
<%= form_with model: message,url: room_messages_path(message.room) do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <%= f.submit %>
<% end %>