<div class="container">
    <div class="row mt-3">
    <h1><%= @region.name%>地方投稿一覧</h1>
    </div>
    <div class="row mt-3 m-auto">

        <% @posts.each do |post|%>
        <div class="card col-2" style="margin:20px;">
          <diV class="card-img-top" style="margin:5px">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.get_image(100,100), class: "mb-2 d-block w-100" %>
                <p class="card-title"><%= post.title%></p>
            <% end %>
          </diV>
            <p class="mb-2"><%= post.prefecture %>県</p>
            <div id=<%="favorite-box"+ post.id.to_s %>>
                <p class="mb-2"><%= render 'public/favorites/favorite', post: post %></p>
                <p><i class="fas fa-regular fa-hashtag"></i><%= post.tags.map(&:name).join(', ') %></i></p>
            </div>
        </div>
        <% end %>
    </div>
</div>
