<div class="container">
  <div class="row">
    <div class="col-9">
    <h1>チャットグループ一覧</h1>
    <div>
      <ul>
        <% @room_lists.each do |room| %>
          <li><%= link_to "#{room.roomname}", room_path(room) %></li>
        <% end %>
      </ul>
    </div>
    <div class="chat-group">
    　  <h1>参加中のグループ</h1>
            <% if @room_joining == [] %>
                <%= @room_lists_none %>
            <% else %>
                <div class="group-list">
                    <ul class="group-list-table">
                        <% @room_lists.each do |list| %>
                            <% if list.user_ids.include?(current_user.id) %>
                                <li class="group-list-table-each-group">
                                    <%= link_to "/rooms/#{list.id}" do %>
                                        <%= list.roomname %>(<%= list.user_ids.count %>)
                                        <%= link_to 'edit', edit_room_path(list.id), method: :get %>
                                        <%= link_to 'delete', room_path(list.id), method: :delete %>
                                    <% end %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="group-new">
                <%= link_to 'チャットグループを作成', new_room_path %>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>