<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>ルーム詳細</h2></h2>
      <table class='table table-hover table-inverse'>
        <tr>
          <td><%= @room.name %></td>
          <td>
            <% if @room.owner_id == current_user.id %>
              <%= link_to 'Edit', edit_room_path(@room), class: "btn btn-sm btn-success" %>
              <% elsif @room.users.include?(current_user) %>
                <%= link_to 'Leave this room', room_path(@room), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to 'Join this room', room_join_path(@room), class: "btn btn-sm btn-success" %>
              <% end %>
          </td>
        </tr>
      </table>
      
      <div>
        <%= render "public/messages/index", messages: @messages, message:@message %>
      </div>
      <diV>
        <%= link_to "戻る",rooms_path %>
      </div>
    </div>
  </div>
</div>
