<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <table class='table table-inverse'>
        <tr>
          <td style="font-size : 35px;"><%= @room.name %></td>
          <td>
            <% if @room.owner_id == current_user.id %>
              <%= link_to '編集', edit_room_path(@room), class: "btn btn-sm btn-success" %>
              <% elsif @room.users.include?(current_user) %>
                <%= link_to '退出する', room_path(@room), method: :delete, class: "btn btn-sm btn-danger" %>
              <% else %>
                <%= link_to '参加する', room_join_path(@room), class: "btn btn-sm btn-success" %>
              <% end %>
          </td>
        </tr>
      </table>
  　</div>
  </div>
  
  
        <%= render "public/messages/index", messages: @messages, message:@message %>
  

  <div class='row mt-5'>
    <div class='col-md-8 offset-md-1'>
      <diV>
        <%= link_to "戻る",rooms_path %>
      </div>
    </div>
  </div>
</div>
