<div class="container">
  <div class="row">
      <h2 class="col-md-12 offset-md-1">投稿詳細</h2>
  </div>
  <div class="row">
    <div class="ml-5 col-4">
      <%= image_tag @post.get_image(300,200), style: "background-cover; background-position: center;" %>
    </div>
    <div class="col-4">
      <h3 class="mb-3"><%= @post.title %></h3>
      <div class="mb-3"><%= @post.region.name %>地方　<%= @post.prefecture %>県</div>
      <div class="mb-5"><%= @post.body %></div>
      <div class="mb-3">
          <%= link_to admin_user_path(@post.user.id),class: 'text-primary' do %>
            <%= @post.user.name %>
          <% end %>
       </div>
      
      <div id=<%="favorite-box"+ @post.id.to_s %>>
        ♥<%= @post.favorites.count %>
      </div>
      <p>コメント数: <%= @post.comments.count %></p>
      <p class="post_tags">
        <% @post_tags.each do |tag| %>
          <i class="fas fa-regular fa-hashtag"></i><%= tag.name %>
        <% end %>
      </p>
      <div>
        <%= link_to '投稿を削除する', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger "%>
      </div>
      </div>
     </div>
     
     <div class="row">
      <%= render "admin/comments/index", comments: @comments %>
    </div>
  </div>
  
</div>