<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <div style="padding: 50px;position: relative;">
       
        <h1 style="mt-10 ">Local_Love</h1>
        <p>〜地方に恋するその瞬間〜</p>
        <p>全国の人へ地元の情報をお届け！</br>
        あなたの地元の情報をアピールしよう！
        </p>
      </div>
      
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= image_tag 'japanese-cherry-gbbce87634_640.jpg' %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'mount-fuji-g50f3dc30b_640.jpg' %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'landscape-g206950787_640.jpg' %>
          </div>
          <div class="swiper-slide">
            <%= image_tag 'shirakawa-go-gafd5ab4a7_640.jpg' %>
          </div>
        </div>
        <!-- ページネーションの要素 -->
        <div class="swiper-pagination"></div>
        <!-- ナビゲーションボタン （前、次） -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      
      
      <div class="btn-wrapper col-10 mt-4 mx-auto">
        <div class="row">
          <p class="ml-3">
            <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-block sign_in" %>
          </p>
          <p class="ml-3">
            <%= link_to 'サインイン', new_user_registration_path, class: "btn btn-success btn-block sign_up" %>
          </p>
        </div>
        <div class="row">
          <p class="ml-3">
          <%= link_to 'ゲストログイン（閲覧用）', guests_guest_sign_in_path, class: "btn btn-secondary btn-block sign_in", method: :post %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    loop: true, //最後までスライドしたら最初の画像に戻る
   
    //ページネーション表示の設定
    pagination: { 
      el: '.swiper-pagination', //ページネーションの要素
    },
   
    //ナビゲーションボタン（矢印）表示の設定
    navigation: { 
      nextEl: '.swiper-button-next', //「次へボタン」要素の指定
      prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
    }
  });
</script>
