<div class="container px-5 px-sm-0">
 <div class="row mt-5">
    <%= render 'layouts/errors', obj: @user %>
 </div>
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">
   <h2><%= @user.name %>さんの会員詳細編集</h2>
  </div>
 </div>
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">
   <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
   <table class="table table-borderless">
   <tr>
    <td>会員ID</td>
    <td><%= @user.id %></td>
   </tr>
   <tr>
    <td>ユーザー名</td>
    <td>
     <%= f.text_field :name %>
    </td>
   </tr>
    <td>会員ステータス</td>
     <td>
     <%= f.label :is_deleted, '有効', value: false %>
     <%= f.radio_button :is_deleted, 'false' %>
     <%= f.label :is_deleted, '退会', value: true %>
     <%= f.radio_button :is_deleted, 'true' %>
    </td>
   </tr>
   <tr>
    <td></td>
    <td><%= f.submit "変更を保存", class: 'btn btn-success btn-sm' %></td>
   </tr>
   </table>
   <% end %>
  </div>
 </div>
</div>