<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9 mx-sm-auto text-center">
        <h2 class='m-5'>マイページ</h2>
        <diV class="d-flex">
            <div>
              <%= image_tag @user.get_profile_image(100,100) %>
            </div>
            <div class="w-75 mb-3 ml-5">    
            <table class="table table-bordered">
                <tr>
                    <td class="table-active">名前</td>
                    <td>
                        <%= @user.name %>
                    </td>
                </tr>
                <tr>
                    <td class="table-active">出身県（任意）</td>
                    <td>
                        <%= @user.birthplace %>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td class="table-active text-wrap">紹介文</td>
                    <td>
                         <%= @user.introduction %>
                    </td>
                </tr>
            </table>
            <div class="mt-10 offset-md-8">
                <% if @user.name != "guestuser" %>
                <div class='row'>
                  <%= link_to '',edit_user_path(@user) %>
                </div>
                <% end %>
                <% if @user.id == current_user.id %>
                <%= link_to "編集する",  edit_user_path(@user), class: 'btn btn-success' %>
                <% end %>
            </div>
            </div>
        </diV>
        <div class="w-75 mb-3 ml-5"> 
        <table class="table table-borderless">
            <tr>
                <td>お気に入り投稿</td>
                <td><%=link_to"一覧へ",user_favorites_path(@user), class: 'btn btn-primary' %></td>
            </tr>
            <tr>
                <td><%= @user.name %>さん投稿</td>
                <td><%=link_to"一覧へ",user_my_post_path(@user), class: 'btn btn-primary' %></td>
            </tr>
            <% if @user.id == current_user.id %>
            <tr>
                <td>下書き</td>
                <td><%=link_to"一覧へ",confirm_posts_path, class: 'btn btn-primary' %></td>
            </tr>
            <tr>
                <% if @user.name != "guestuser" %>
                <td>チャットルーム</td>
                <td><%= link_to "一覧へ",  rooms_path, class: 'btn btn-primary' %></td>
                <% end %>
            </tr>
            <% end %>
        </table>
        </div>
    </div>
  </div>
</div>        

